<body>
<center>
    <p>
        <strong>Sticky Note:</strong>
        <%= @note.title %>
    </p>
    
    <p>
        <strong>Text:</strong>
        <%= @note.text %>
    </p>
    <%= link_to 'Notes List', notes_path %>
</center>
</body>