<!DOCTYPE html>
<center>
	<header>
    <h1>Welcome to Our Sticky Notes Web Application</h1>
    <h3>GROUP 16 3155</h3>
  </header>
<body>
	<header>
		<div class= "container">
			<nav>
				<ul>
					<li><%= link_to 'Proceed to Notes', controller: 'notes' %></li>
					<li><%= link_to 'Create a Note', controller: 'notes' %></a></li>
					<li><%= link_to 'Notes List', controller: 'notes' %></a></li>
					<li><%= link_to 'Contact', controller: 'notes' %></a></li>
				</ul>
			</nav>
		</div>
		
	</header>
</body>
</center>
