// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url("background.jpg");
	font-family: Calibri, sans-serif;
	color: black;
	
}
 h1 {
    font-family: Calibri, sans-serif;
	color: black;
}
.center {
  text-align: center;
  border: 3px solid green;
}
input[type=text]{
    width: 50%;
    padding: 12px 12px;
    border: 2px solid black;
    background-color: #f8f8f8;
}

textarea {
    width: 60%;
    height: 200px;
    padding: 12px 12px;
    border: 2px solid black;
    background-color: #f8f8f8;
    resize: none;
}