// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 h1 {
font-size: 40px;
font-family: somethingfancy_or_not, arial;
text-align: center;
}
.center {
  text-align: center;
  border: 3px solid green;
}